<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">User Login</h1>
    <!-- Add a form_tag method to send the data to /posts/create -->
    <%= form_tag("/api/login") do %>
      <div class="form">
        <div class="form-body">
          <input name="email"></input>
          <input name="password"></input>
          <input type="submit" value="Post">
        </div>
      </div>
    <!-- Add an end statement -->
    <% end %>
  </div>
</div>